<header>
    <img src="{{ profileUrl }}" alt="Profile picture">
    <p>Report for<br/><span>{{ profileName }}</span></p>
</header>
<nav>
    <ul #timeModeList>
        <li (click)="setTimeMode(TimeMode.DAILY)" [class.active]="currentTimeMode === TimeMode.DAILY">
            {{TimeMode.DAILY}}
        </li>
        <li (click)="setTimeMode(TimeMode.WEEKLY)" [class.active]="currentTimeMode === TimeMode.WEEKLY">
            {{TimeMode.WEEKLY}}
        </li>
        <li (click)="setTimeMode(TimeMode.MONTHLY)" [class.active]="currentTimeMode === TimeMode.MONTHLY">
            {{TimeMode.MONTHLY}}
        </li>
    </ul>
</nav>