:host {
    border-radius: 20px;
    display: block;
    transition: opacity 0.2s ease-in-out;
}

:host:hover .container {
    background-color: #35397b;
}

:host:hover {
    cursor: pointer;
}

.container {
    background-color: hsl(235, 46%, 20%);
    border-radius: 20px;
    padding: 1.5em;
    box-sizing: border-box;
    height: calc( 100% - 2.5em );
    transition: background-color 0.1s ease-in-out;
}

:host(.work) {
    background-color: hsl(15, 100%, 70%);
}

:host(.work) .mode-img {
    content: url("/assets/icon-work.svg")
}

:host(.work) .mode::before {
    content: "Work"
}

:host(.play) {
    background-color: hsl(195, 74%, 62%);
}

:host(.play) .mode-img {
    content: url("/assets/icon-play.svg")
}

:host(.play) .mode::before {
    content: "Play"
}

:host(.study) {
    background-color: hsl(348, 100%, 68%);
}

:host(.study) .mode-img {
    content: url("/assets/icon-study.svg")
}

:host(.study) .mode::before {
    content: "Study"
}

:host(.exercise) {
    background-color: hsl(145, 58%, 55%);
}

:host(.exercise) .mode-img {
    content: url("/assets/icon-exercise.svg")
}

:host(.exercise) .mode::before {
    content: "Exercise"
}

:host(.social) {
    background-color: hsl(264, 64%, 52%);
}

:host(.social) .mode-img {
    content: url("/assets/icon-social.svg")
}

:host(.social) .mode::before {
    content: "Social"
}

:host(.self-care) {
    background-color: hsl(43, 84%, 65%)
}

:host(.self-care) .mode-img {
    content: url("/assets/icon-self-care.svg")
}

:host(.self-care) .mode::before {
    content: "Self Care"
}

.mode-img {
    position: absolute;
    right: 1em;
    top: -.5em;
}

.ellipsis-container:hover {
    filter: contrast(200%);
}

.ellipsis-container {
    transition: filter 0.1s ease-in-out;
}


.header {
    text-align: right;
    padding-right: 1em;
    height: 2.5em;
    overflow: hidden;
    position: relative;
}

.mode {
    margin: 0;
    font-weight: 500;
    color: #e6e4fe;
}

.content1 {
    display: flex;
    justify-content: space-between;
}

.content2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 1.5em;
}

.current-time {
    font-weight: 300;
    color: #e6e4fe;
    font-size: 32px;
    margin-top: .3em;
    margin-bottom: .3em;
}

.previous-time {
    color: #a29dfe;;
    margin: 0;
    font-size: 16px;
}
